* {
    margin: 0;
    display: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    grid-gap: 5px;
    text-align: center;
    margin: auto;
}

.container div {
    height: 100px;
    width: 100px;
    border: 2px solid orange;
    margin: auto;
}

.controls {
    height: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.wasp {
    height: 100px;
    width: 100px;
    border: 2px solid orange;
}