* {
    font-size: 25px;
}
section {
    border: 2px solid #dfe1e5;
    border-radius: 5px;
    margin: 5px;
    display: grid;
    width: auto;
    grid-template-areas: 
    "seven eight nine divide"
    "four five six multiply"
    "one two three minus"
    "0 . equals plus";
    width: 450px;
    grid-gap: 5px;
    text-align: center;
    padding: 5px 0;
}
#calc, #solution {
    height: 50px;
}
#equals {
    background-color: #4285f4;
    border: #4285f4;
    color: white;
}
.operator {
    background-color: #dfe1e5;
}
div button {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: #f1f3f4;
    border: #f1f3f4;
    cursor: pointer;
}