* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
    text-align: center;
    
}

#one{
    width: 80%;
    height: 80%;
    margin-left: 12%;
}

.box {
    height: 45%;
    width: 50%;
    margin-left: 25%;
    margin-top: 7.5%;
    background-color: white;
}

.two {
    background-color: green;
}

.four {
    border-style: dotted;
}