* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    border: 2px solid black;
}

section {
    height: 250px;
    /* width: 100%; */
    /* border: 2px solid red; */
}

section:nth-child(1) {
    background-color: black;
}

section:nth-child(2) {
    background-color: red;
}

section:nth-child(3) {
    background-color: yellow;
}

@media screen and (min-width: 660px) {
    .container{
        display: flex;
    }
    section {
        flex-grow: 1;
    }
    section:nth-child(2) {
        background-color: yellow;
    }
    section:nth-child(3) {
        background-color: red;
    }
}